# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [4]:
import pandas as pd
import numpy as np

# Seu código aqui

dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anoSemIndex = pd.Series(data=dados)
anoSemIndex

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [5]:

# seu código aqui

indice = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
dados = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
anoComIndex = pd.Series(data=dados, index=indice)
anoComIndex

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [7]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui

temperaturaMediaSeries = pd.Series(dic_temperaturas)
dic_temperaturas

{1900: -0.08,
 1920: -0.27,
 1940: 0.12,
 1960: -0.03,
 1980: 0.26,
 2000: 0.4,
 2020: 1.02}

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [9]:
arr = np.random.normal(100, 10, (20,3))

# seu código aqui

df = pd.DataFrame(arr, columns=['Coluna1', 'Coluna2', 'Coluna3'])
df

       Coluna1     Coluna2     Coluna3
0   101.306786  103.934561   99.279667
1   114.140301   97.673034   97.029850
2    91.448022  101.274170   98.493954
3    95.993862   82.927571   86.660809
4   107.099808   97.322622   87.319049
5    75.111338   96.454093  112.017482
6    96.285954  107.835470   81.944888
7    96.545652   84.040557   98.030469
8    89.683341   76.594324   98.085860
9   115.893135   77.514695   95.257938
10   95.296600   93.123154  103.528156
11  111.842319   91.360596   96.217654
12  108.476561  129.932952  112.267397
13   98.192660  112.509969  115.437007
14   81.450245  123.112856  101.562470
15   95.599098   82.973878  115.479653
16  123.584767  103.304376   90.369625
17   99.778261   94.801653   94.111092
18  114.222489  105.262798  112.197485
19   96.812083   88.620279  106.852314

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [15]:
#seu código aqui

arr = np.random.normal(100, 10, (20,3))
indice = ['x1', 'x2', 'x3']


df = pd.DataFrame(arr, columns=indice)
df.index = range(1, 21)
df

            x1          x2          x3
1    89.344112  106.066922  108.363220
2    99.358983  102.107205  114.876201
3    97.732323   78.054674   87.572646
4    99.688747  109.924798   91.459924
5   109.707412  106.675596   90.535799
6   101.534282  101.613420   95.597156
7   102.072985  116.145163  100.157607
8   106.810821   94.210372  105.201496
9   102.850894   96.503530   99.981438
10  112.694374   93.791034  106.080631
11  106.365081  106.988179  103.380495
12   95.909734  124.505602   97.255540
13  105.474962  114.771865   85.022217
14  111.721770   91.866254   96.585566
15   93.658015   87.897776  101.264136
16  108.236007   94.958154  100.528119
17  113.725455   99.677499  108.437093
18   95.193031  113.991292  108.338592
19   93.120157   87.352765  110.218678
20  106.731052   95.846653  108.278165

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [17]:
# seu código aqui

arr = np.random.normal(100, 10, (20,3))
indice = ['x1', 'x2', 'x3']


df = pd.DataFrame(arr, columns=indice)
df.index = range(1, 21)
df['media'] = df.mean(axis=1)

df

            x1          x2          x3       media
1    97.256320   88.588256   82.132477   89.325684
2   115.922357   80.469117   98.088814   98.160096
3    98.963273   96.784564  104.109344   99.952394
4    97.022883   77.849348   98.146346   91.006193
5    99.912757   93.687193   80.143937   91.247962
6    86.236988   95.923862  111.165228   97.775359
7    91.213677  100.237040   86.535967   92.662228
8   101.148786  124.979307  101.899353  109.342482
9    85.425903   91.239526   84.244670   86.970033
10   99.208210   97.674910  115.687677  104.190265
11   93.686232  110.932516  113.704220  106.107656
12   83.129460   82.862336   90.022884   85.338227
13  111.139003   97.719738   99.909462  102.922734
14  101.554245  128.499337   96.791719  108.948433
15  101.493459   95.635050  104.166238  100.431582
16  104.351001  100.428290  109.675808  104.818366
17  105.018471   85.165095   93.558960   94.580842
18   96.687203  104.781312   95.644055   99.037523
19   81.224842   90.549870  101.159821   90.978177
20  103.727097   99.789854   83.372239   95.629730

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [18]:
# seu código aqui

arr = np.random.normal(100, 10, (20,3))
indice = ['x1', 'x2', 'x3']


df = pd.DataFrame(arr, columns=indice)
df.index = range(1, 21)
df['media'] = df.mean(axis=1)
df['log_med'] = np.log(df['media'])

df

            x1          x2          x3       media   log_med
1    93.829227   93.122459   85.924533   90.958740  4.510406
2   100.056684  116.296499  112.297322  109.550169  4.696383
3    99.918155  106.710745   96.784981  101.137960  4.616486
4    98.860232  102.699550  102.449357  101.336380  4.618445
5   107.257283  110.671059  104.685369  107.537904  4.677843
6   101.790231  102.065739   95.395126   99.750365  4.602671
7    84.771738   96.673480  110.742800   97.396006  4.578785
8   105.977262  108.857402   99.961444  104.932036  4.653313
9   111.455876   96.385849  105.299034  104.380253  4.648041
10  105.564481   88.821971   97.651876   97.346109  4.578273
11  114.293372  118.005617   88.160992  106.819993  4.671145
12  115.283536  113.705053  100.268048  109.752212  4.698225
13   87.936974  101.185102  101.046802   96.722959  4.571851
14  100.088590  101.029281  124.266741  108.461537  4.686396
15   92.486093  117.063625  100.204711  103.251476  4.637168
16   92.517967   96.032925  105.945723   98.165538  4.586655
17  110.956677  104.117264   84.914428   99.996123  4.605131
18   89.240497  100.703360  103.662957   97.868938  4.583629
19  110.461052  117.407020   88.641183  105.503085  4.658740
20  111.007547   98.793859  103.985172  104.595526  4.650101